@media only screen and (min-width: 658px) {
    nav{
        display: block;
    }
}

@media only screen and (max-width: 658px) {
    button{
        display: block;
        background-color: rgba(255, 255, 255, 0);
        border-color: rgba(255, 255, 255, 0);
        border: 0px;
    }
    
    nav{
        -webkit-box-shadow: 0px -1px 16px 3px rgba(0,0,0,0.47);
        -moz-box-shadow: 0px -1px 16px 3px rgba(0,0,0,0.47);
        box-shadow: 0px -1px 16px 3px rgba(0,0,0,0.47);
        display: none;
        position: absolute;
        top: 10vh;
        width: 370px;
        background-color: white;
        border-radius: 12px;
        padding: 12px;
        min-height: 150px;
        & > ul{
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
            & > li:last-child {
                padding-top: 30px;
                margin-top: 30px;
                list-style-type: none;
                margin-left: 0px;
                & > span{
                    left: 0;
                }
                border-top: 3px solid hsl(231, 7%, 65%);
            }
        }
    }

}

@media screen and (max-width:425px) {
    nav{
        top: 18vh;
    }

    body{
        overflow-y: scroll;
    }
    header {
        width: 28em;
        margin-left: 30px;
    }
    .grey-shape{
        padding: 370px 217px;
        right: -300px;
        overflow-wrap: normal;
    }
    main {
        margin-left: 66px;
        flex-direction: column;
        & > .illustration{
            right: -168px;
            width: 45em;
            margin-bottom: 75px;
            z-index: -1;
        }
        & > .presentation{
            max-width: 25em;
            margin-left: 55px;    
            & > .new, .monograph {
                font-size: 20px;
            }
            & > h1 {
                font-size: 65px;
            }
            & > .slogan {
                max-width: 21em;
                font-size: 28px;
            }
            & > .temp {
                font-size: 20px;
            }
        }
    }


}