@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');
:root{
    --font-family-barrlow-Condensed : 'Barlow Condensed', sans-serif;
    --font-size : 18px;
    --font-family-barrlow : 'Barlow', sans-serif;
    --Red: hsl(0, 100%, 68%);
    --Very-Dark-Blue: hsl(230, 29%, 20%);
    --Dark-Grayish-Blue: hsl(230, 11%, 40%);
    --Grayish-Blue: hsl(231, 7%, 65%);
    --Light-Grayish-Blue: hsl(207, 33%, 95%);
}

*{
    font-family: var(--font-family-barrlow);
    font-size: var(--font-size);
}

button{
    display: none;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: center;
    padding: 12px;
    font-family: var(--font-family-barrlow-Condensed);
}


ul{
    display: flex;
    flex-direction: row;
    gap: 12px;
    & > li{
        font-weight: bold;
        list-style-type: none;
        text-transform: uppercase;
        cursor: pointer;
    }
    & > li:last-child{
        width: 300px;
        color: var(--Grayish-Blue);
        list-style-type: disc;
        margin-left: 120px;
        & > span{
            position: relative;
            left: 50px;
        }
    }
    & > li:hover{
        text-decoration: underline;
    }
}

main{
    margin-left: 100px;
    & > .presentation{
        max-width: 50rem;
        & > .new{
            display: inline-block;
            font-weight: bold;
            margin-right: 12px;
            text-align: center;
            text-transform: uppercase;
            width: 60px;
            padding: 8px;
            background-color: black;
            color: var(--Light-Grayish-Blue);
            border-radius: 20px;
        }
        & > .monograph{
            color: var(--Grayish-Blue);
            text-transform: uppercase;
            letter-spacing: 4px;
        }
        & > h1{
            text-transform: uppercase;
            font-size: 80px;
            font-weight: bolder;
        }
        & > .btn{
            padding: 10px;
            display: inline-block;
            background-color: var(--Red);
            color: var(--Light-Grayish-Blue);
            text-transform: uppercase;
            font-weight: bold;
            cursor: pointer;
        }
        & > .temp{
            letter-spacing: 5px;
            text-transform: uppercase;
            margin-left: 10px;
            font-size: 12px;
        }
    }
}